.loader {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 90px;
  background: conic-gradient(from 90deg at 25% 50%, rgba(255, 255, 255, 0) 20deg, #512de4 360deg);
  animation: 1s rotate infinite linear;
  mask: radial-gradient(
    farthest-side,
    transparent calc(100% - 10px - 0.5px),
    #000 calc(100% - 10px + 0.5px)
  );
}

.loader::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  background: #512de4;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
