.friendMessage {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.friendImageAndText {
  display: flex;
  align-items: end;
  gap: 12px;
}

.friendImageAndText img {
  width: 48px;
  height: 48px;
}

.friendText {
  max-width: 570px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: #f5f7fb;
  padding: 7px 25px 8px 13px;
  border-radius: 15px 15px 15px 0;
}

.friendText:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -12px;
  border-style: solid;
  border-width: 0 0 12px 12px;
  border-color: transparent transparent #f5f7fb transparent;
}

.friendName {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #000;
}

.friendMessageText {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
}

.friendTime {
  width: 48px;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
}
