.select {
  min-width: 165px;
  height: 24px;
  color: inherit;
  border: 1px solid #c2c2c2;
  border-radius: 2px;
  background-color: transparent;
}

[data-theme='3'] option {
  color: #000;
}

.select:focus {}


.option:hover {}