.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 40px;
  box-shadow: 0 0 2px 0 rgba(29, 33, 38, 0.1), 0 0 40px 0 rgba(29, 33, 38, 0.13);
  background: #fff;
}

.burgerMenuIcon {
  cursor: pointer;
}

.header h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #000;
}