.pagination {
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  select {
    min-width: 40px;
    height: 24px;
    padding: 4px 16px 4px 6px;
    background: no-repeat calc(100% - 4px) url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI1IiB2aWV3Qm94PSIwIDAgOCA1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIHN0cm9rZT0iIzBEMEIwQyIgZD0ibTEgMSAzIDMgMy0zIi8+Cjwvc3ZnPgo=)
  }
}

[data-theme="3"] {
  .pagination select {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI1IiB2aWV3Qm94PSIwIDAgOCA1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIHN0cm9rZT0iI2ZmZiIgZD0ibTEgMSAzIDMgMy0zIi8+Cjwvc3ZnPgo=);
  }
}

.text1 {
  font-size: 14px;
  line-height: 24px;
  margin: 0 10px 0 24px;
}

.text2 {
  font-size: 14px;
  line-height: 24px;
  margin-left: 10px;
}